#container {
    
    width: 600px;
    height: 900px;
    box-sizing: border-box;
    background-color:mediumvioletred;
    border: 5px dashed lightcoral;
   
  }

  /* styled calculator container box */

   #display {
    background-color:beige;
    height: 200px;
    border-bottom: 5px solid darkmagenta;
    font-size: 50px;
    word-break: break-word;
    }  

  /* styled display box within calculator container box */

   #button7 {
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    border-top: 5px solid darkmagenta;
    border-right: 5px solid darkmagenta;
    border-bottom: 5px solid darkmagenta;
    font-size: 50px;
    margin-bottom: 600px;
   }

   /* styled button 7 */

   #button8 {
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    margin-left: 5px;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 600px;
   }

   /* styled button 8 */


   #button9 {
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    margin-left: 5px;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 600px;
   }

   /* styled button 9 */

   #division {
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    margin-left: 5px;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 600px;
   }

   /* styled division (button / )*/

   #clearAll {
    width: 5.08cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    margin-left: 5px;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 600px;
   }

   /* styled clear */

   #button4 {
    position: absolute;
    bottom: 20px;
    top: 390px;
    left: 12px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled button 4 */

   #button5 {
    position: absolute;
    bottom: 20px;
    top: 390px;
    left: 112px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled button 5 */

   #button6 {
    position: absolute;
    bottom: 20px;
    top: 390px;
    left: 212px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled button 6 */

   #multiplication {
    position: absolute;
    bottom: 20px;
    top: 390px;
    left: 312px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled multiplication (button * ) */

   #button1 {
    position: absolute;
    bottom: 700px;
    top: 490px;
    left: 12px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled button 1 */

   #button2 {
    position: absolute;
    bottom: 700px;
    top: 490px;
    left: 112px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled button 2 */

   #button3 {
    position: absolute;
    bottom: 700px;
    top: 490px;
    left: 212px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled button 3 */

   #subtraction {
    position: absolute;
    bottom: 700px;
    top: 490px;
    left: 312px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled subtraction (button - ) */

   #button0 {
    position: absolute;
    bottom: 700px;
    top: 590px;
    left: 12px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled button 0 */

   #addition {
    position: absolute;
    bottom: 700px;
    top: 590px;
    left: 112px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled addition (button + ) */

   #equals {
    position: absolute;
    bottom: 700px;
    top: 590px;
    left: 212px;
    width: 2.5cm;
    height: 2.5cm;
    box-sizing: border-box;
    background-color: lightpink;
    font-size: 50px;
    border: 5px solid darkmagenta;
    margin-bottom: 900px;
   }

   /* styled equals (button = ) */

   .h1 {
    color: lightpink;
    font-style:italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    background-color: darkviolet;
    width: 7.25cm;
    border-radius: 10px;
   }

   /* styled heading 1 called Calculator */

